html, body {
    overflow: hidden;
    margin: 0;
}
body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
    color: #333;
}
#particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#app {
    position: absolute;
    width: 320px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
h1 {
    color: #0176BA;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 20px 0px 12px;
    left: 4px;
}
h2 {
    color: #999;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .12em;
    margin-bottom: 30px;
    left: 3px;
}
h1, h2 {
    position: relative;
}
p {
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    letter-spacing: 2px;
}
a {
    color: #999;
    text-decoration: none;
    transition: color .2s ease;
}
a:hover {
    color: #0176BA;
}
img {
    width: 100px;
    height: 100px;
}
#extern {
  position: absolute;
  text-align: center;
  bottom: 1%;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#extern p {
  display: inline;
  font-size: 8px;
  line-height: 2em;
  margin: 0;
  letter-spacing: 2px;
}
#extern div {
  color: #999;
  font-size: 8px;
  line-height: 0.2em;
  margin: 0;
  letter-spacing: 2px;
}
#extern p::after { 
    content: ' | ';
}
#extern p:nth-child(4):after { 
    content: '';
}
#extern p:last-child:after { 
    content: '';
}
.modern-cpp a {
  color: #7C2E37;
}
.pynotebook a {
  color: rgb(204, 122, 0);
}
.qux a {
  color: #1ca4fc;
}
@media (max-width: 450px) {
  #extern {
    position: absolute;
    text-align: center;
    bottom: 1%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
  #extern div {
    color: #999;
    font-size: 8px;
    line-height: 0.2em;
    margin: 0;
    letter-spacing: 2px;
  }
  #extern p {
    font-size: 8px;
    line-height: 0.2em;
    margin: 0;
    letter-spacing: 2px;
  }
}